html {
    background-color: rgb(200, 226, 190);
    font-size: 10px;
    font-family: 'Open Sans', sans-serif; 
}

body {
    width: 600px;
    /* 只有2个值时，表示上下、左右，auto用于左右居中，因为 已经设置了宽度 */
    /* 4个值时，顺序为上、右、下、左 */
    margin: 10px auto;
    background-color: rgb(241, 164, 47);
    padding: 0 20px 20px 20px;
    border: 5px solid yellowgreen;
  }

#first-line {
    font-size: 30px;
    text-align: center;
    color: #00539F;
    /* 水平偏移、垂直偏移、模糊半径、颜色*/
    text-shadow: 3px 5px 2px rgba(106, 241, 129, 0.8);
}
  
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

.p-1 {
    color: blue;
}
.p-2 {
    margin: 0;
    padding: 10px 0 10px 10px;    
    color: #00539F;
    /* 水平偏移、垂直偏移、模糊半径、颜色*/
    text-shadow: 1px 3px 1px rgba(156, 184, 245, 0.8);
}

.p-title {
    text-align: center;
    background-color: rgba(156, 184, 245, 0.8);
    color: rgba(194, 4, 241, 0.6);
    /*width: 500px;*/
    border: 1px solid black;
    font-size: 18px;
}

#a-1 {
    color: green;
}

/* 选择具有pseudo-arrt属性的段落，在鼠标悬停时设置其颜色 */
p[pseudo-arrt]:hover {
    color: rgb(231, 118, 13)
}

#p-id-2 {
    color: red;
    background-color: rgba(156, 184, 245, 0.8);
}

/*
 把图像居中来使页面更美观。可以复用 body 的 margin: 0 auto ，但是需要一点点调整。
 <body> 元素是块级元素，意味着它占据了页面的空间并且能够赋予外边距和其他改变间距的值。
 而图片是内联元素，不具备块级元素的一些功能。所以为了使图像有外边距，我们必须使用 
 display: block 给予其块级行为。
*/
img {
    display: block;
    margin: 0 auto;
}